extends layout

block style
  link(rel="stylesheet", href="/css/comments.css")

block content

block script
  script(src="/js/comments.js")
  script(type="text/v-template")#template
    #header
      #title="Omedeto App"
    #main
      #layout
        .form-horizontal
          .form-group
            textarea.input-lg(
              v-model="content"
              row="5"
              placeholder="メッセージを入力"
            )
          .form-group
            button.send.btn.btn-success(@click="send")
              span.glyphicon.glyphicon-envelope
              span.text="送る"
