extends layout

block style
  link(rel="stylesheet", href="/css/index.css")

block top
  #header
    #title="Omedeto"
 
block content

block script
  script(src="/js/index.js")
  script(type="text/v-template")#template
    .nickname
      .title="ユーザ名を入れてください"
      input.form-control(type="text", v-model="nickname" ,placeholder="動画、コメント表示時に使用します。無記名でもOK")
    .menuButton
      button.btn.btn-default(type="button", @click="selectMenu('upload')")
        span.text="動画アップロード"
    .menuButton
      button.btn.btn-default(type="button", @click="selectMenu('comments')")
        span.text="コメント"
    .menuButton
      button.btn.btn-default(type="button", @click="selectMenu('list')")
        span.text="動画一覧"
 
    .notice
      span.text="アップロードした動画をその場で共有！自動でスライドショーが作れます\n\rコメントからスライドショーにリアルタイムでコメントすることもできちゃいますw"
        
