extends lib/layout

block style
  link(rel="stylesheet", href="/css/list.css")

block top
  include lib/header

block content

block script
  script(src="/js/list.js")
  script(type="text/v-template")#template
    .tool
      .search.col-xs-12.col-sm-6.col-md-6.col-lg-4
        .input-group.input-group-sm
          input.form-control(type="text", v-model="query.search", placeholder="ニックネームで検索", @keyup.enter="reloadList")
          span.input-group-btn
            button.searchBtn.btn.btn-primary(type="button", @click="reloadList")
              span.glyphicon.glyphicon-search
      - if(admin)
        .orderby.col-xs-12.col-sm-6.col-md-6.col-lg-8
          button.btn.btn-default(type="button", @click="sortMode = true", v-show="!sortMode")
            span.icon.glyphicon.glyphicon-sort
            span.text="表示順変更"
          .controller(v-show="sortMode")
            button.btn.btn-default(type="button", @click="movePrev")
              span.glyphicon.glyphicon-chevron-left
            button.btn.btn-default(type="button", @click="moveNext")
              span.glyphicon.glyphicon-chevron-right
            button.btn.btn-default(type="button", @click="sortCancel")
              span.icon.glyphicon.glyphicon-repeat
              span.text="取消"
            button.btn.btn-primary(type="button", @click="sortSave")
              span.icon.glyphicon.glyphicon-floppy-disk
              span.text="保存"
    .list
      .item.col-xs-12.col-sm-4.col-md-3.col-lg-2(v-for="video in videos")
        .thumbnail(@click="selectItem(video._id)")
          input.checkbox(v-show="sortMode", type="checkbox", v-model="video.checked")
          .imageLayout
            img.img-thumbnail(:src="video.imagePath")
          .caption
            .contents
              .index(v-text="'# ' + ($index + 1)")
              - if(admin)
                .view
                  span.icon.glyphicon.glyphicon-eye-open
                  span.text(v-text="video.view")
            .contents
              .nickname
                span.icon.glyphicon.glyphicon-user
                span.text(v-text="video.nickname")
          a.showVideo(v-show="!sortMode", @click="showVideo(video._id)")
            .showText
              span.glyphicon.glyphicon-zoom-in
              span="動画を見る"

      .loadmore.col-xs-12(:class="{loading: loading}")
        .load-status(v-text="query.skip + ' / ' + count")
        img(src="/images/loading.svg", alt="Loading icon")
        button.btn.btn-default(type="button", @click="loadMore")="Load more"

    .detail(v-show="video._id", @click="closeVideo")
      .video-modal
        video(type="video/mp4", :src="video.videoPath", :poster="video.imagePath", autoplay, preload="metadata", controls)
        
