extends layout

block style
  link(rel="stylesheet", href="/css/upload.css")
  link(rel="stylesheet", href="//cdn.jsdelivr.net/jquery.fileupload/9.5.2/css/jquery.fileupload.css")

block content

block script
  script(src="/js/upload.js")
  script(type="text/v-template")#template
    #header
      #title="Omedeto App"
    #main
      #layout
        .form-horizontal
          #intoro-message.form-group(v-show="viewShowFileSelect")
            h4.text="ステップ1. 10秒お祝いメッセージ動画を撮影してください！"
            button.shooting.btn.btn-success.fileinput-button
              input#upload(type="file", name="file", accept="video/*", @change="upload")
              span.glyphicon.glyphicon-camera
              span.text="撮影する"

          #check-video-message.form-group(v-show="viewShowVideoPreview")
            h4.text="撮影された動画を確認できます。"
            .form-group
              .video
                video(:src="videoPath", loop, autoplay, preload="true", controls, @play="video_play")
          #ready-to-submit-message.form-group(v-show="viewShowVideoPreview")
            h4.text="ステップ2. 確認した動画でよければ送るボタンで送信！"
            // TODO: videoアップロードが終わるまで、確認中メッセージ + loaderを表示
            .form-group
              button.send.btn.btn-success(@click="send", :disabled="sendBtnDissabled")
                span.glyphicon.glyphicon-envelope
                span.text="送る"
              button.btn.btn-defaultlink(@click="confirmAndReloadPage")
                span.text="動画を選びなおす"

          .create-thumbnail
            canvas
            img#thumbnail-test(:src="imagePath")
            .form-group
              textarea.input-sm(
                v-model="message"
                row="5"
                placeholder="お祝いメッセージを入力"
              )
