extends lib/layout

block style
  link(rel="stylesheet", href="/css/upload.css")
  link(rel="stylesheet", href="//cdn.jsdelivr.net/jquery.fileupload/9.5.2/css/jquery.fileupload.css")

block top
  include lib/header

block content

block script
  script(src="/js/upload.js")
  script(type="text/v-template")#template
    #main
      #layout
        .form-horizontal
          #intoro-message.form-group(v-show="viewShowFileSelect")
            .step-container.step-margin-bottom
              .step-title="アップロード"
              .step-message="10秒お祝いメッセージ動画を撮影してください！"
            .form-group.explain
              span.icon.omedeto.omedeto-video-shoot
            button.capture.btn.btn-success.btn-lg.fileinput-button
              input#upload(type="file", name="file", accept="video/*", @change="upload")
              span.icon.glyphicon.glyphicon-camera
              span.text="撮影する"

          #check-video-message.form-group(v-show="viewShowVideoPreview")
            .step-container
              .step-title="動画を確認"
              .step-message="登録する動画を確認してください"
            .form-group
              .video
                video(:src="videoPath", loop, autoplay, preload="true", controls, @play="video_play")
            #while-uploading-video(v-show="viewShowVideoUploading")
              .message
                .step-container
                  .step-message="動画を送信中です…"
                .form-group
                  img.loading(src="/images/loading.svg", alt="Loading icon")
            #post-upload-video
              .step-container.step-margin-bottom(v-show="!viewShowVideoUploading")
                .step-message
                  span.glyphicon.glyphicon-ok
                  |&nbsp;
                  span.text="動画を送信しました！"
              .step-container
                .step-message="確認した動画でよければ登録ボタンで送信！"
              .form-group
                button.send.btn.btn-success(@click="send", :disabled="viewSendBtnDissabled")
                  span.glyphicon.glyphicon-envelope
                  span.text
                    |{{viewSendButtonText}}
              .notice
                span.text
                  |注意: 登録すると自分で削除できません！
            #reload-page
              .step-container
                .step-message="やり直す場合はこちら"
              .form-group
                button.btn.btn-defaultlink(@click="confirmAndReloadPage")
                  span.text="動画を選びなおす"
